<!DOCTYPE html>
<html>
  <head>
    <title>Netwerk</title>
  </head>    
  <body>
    <div class = "create" data-ng-controller="createController">
      Create profile
      <form method = "post" id = "create">
        Type: 
        <input type= "radio" data-ng-model="profile_type" name = "profile_type" value="candidate">Candidate
        <input type= "radio" data-ng-model="profile_type" name = "profile_type" value="job">Job
      </form>

      <div data-ng-switch="profile_type">
        <div data-ng-switch-when="candidate">
          <form method = "post" id = "create_candidate">
            New username: <input type="text" id = "create_u" data-ng-model = "candidate_info.create_u" />
            New password (at least 5 characters): <input type="password" id = "create_p" data-ng-model = "candidate_info.create_p" />
            First name: <input type="text" id = "create_first" data-ng-model = "candidate_info.create_first" />
            Last name: <input type="text" id = "create_last" data-ng-model = "candidate_info.create_last" />
            Current location: <input type="text" id = "create_cloc" data-ng-model = "candidate_info.create_cloc" />
            Desired location: <input type="text" id = "create_dloc" data-ng-model = "candidate_info.create_dloc" />
            Most recent job: <input type="text" id = "create_job" data-ng-model = "candidate_info.create_job" />
            Education: <input type="text" id = "create_edu" data-ng-model = "candidate_info.create_edu" />
            Major <input type="text" id = "create_major" data-ng-model = "candidate_info.create_major" />
            GPA: <input type="number" step = "0.1" min = "0.0" max = "4.0" id = "create_gpa" data-ng-model = "candidate_info.create_gpa" />
            Skills:
            <input type="checkbox" id = "skills1" name = skills1 data-ng-model = "candidate_info.skills1" data-ng-init="candidate_info.skills1=false" />Front end
            <input type="checkbox" id = "skills2" name = "skills2" data-ng-model = "candidate_info.skills2" data-ng-init="candidate_info.skills2=false" />Back end
            <input type="checkbox" id = "skills3" name = "skills3" data-ng-model = "candidate_info.skills3" data-ng-init="candidate_info.skills3=false"/>Data science
            Salary: <input type="number" min = "0" id = "create_sal" data-ng-model = "candidate_info.create_sal" />
            Fun fact: <input type="text" id = "create_fun" data-ng-model = "candidate_info.create_fun"/>
            
              
            <!-- <h3> Upload </h3> 
            <form enctype="multipart/form-data" action="upload.php" method="POST">
              <p>
                <input type="hidden" name="MAX_FILE_SIZE" value="20000000" />
                <input type = "hidden" name ="username" value = $username />
                <label for="uploadfile_input">Choose a file to upload:</label> <input name="uploadedfile" type="file" id="uploadfile_input" />
              </p>
              <p>
                <input type="submit" value="Upload File" />
              </p>
            </form> -->

             Profile Picture: <input type="file" data-ngf-select="" data-ng-model="candidate_info.profile_picture" name="file" data-ngf-accept="'image/*'" required="">

            <input type = "submit" data-ng-click = "createCandidate(candidate_info)" />
          </form>  
        </div>
      </div>

      <div data-ng-switch="profile_type">
        <div data-ng-switch-when="job">
          <form method = "post" id = "create_j">
            New username: <input type="text" id = "create_company_u" name="create_company_u" data-ng-model = "job_info.create_company_u" />
            New password: <input type="password" id = "create_company_p" name="create_company_p" data-ng-model = "job_info.create_company_p" />
            Company name: <input type="text" id = "create_company_name" name="create_company_name" data-ng-model = "job_info.create_company_name" />
            Location: <input type="text" id = "create_company_loc" name="create_company_loc" data-ng-model = "job_info.create_company_loc" />
            Title: <input type="text" id = "create_title" name="create_title" data-ng-model = "job_info.create_title"/>
            Industry: <input type="text" id = "create_industry" name="create_industry" data-ng-model = "job_info.create_industry" />
            Skills: 
            <input type="checkbox" id = "company_skills1" name = "company_skills1" value = "frontend" data-ng-model = "job_info.company_skills1" data-ng-init="job_info.company_skills1=false"/>Front end
            <input type="checkbox" id = "company_skills2" name = "company_skills2" value = "backend" data-ng-model = "job_info.company_skills2" data-ng-init="job_info.company_skills2=false"/>Back end
            <input type="checkbox" id = "company_skills3" name = "company_skills3" value = "data_science" data-ng-model = "job_info.company_skills3" data-ng-init="job_info.company_skills3=false"/>Data science
            Salary: <input type="text" id = "create_company_sal" name="create_company_sal" data-ng-model = "job_info.create_company_sal" />
            Description: <input type="text" id = "create_desc" name="create_desc" data-ng-model = "job_info.create_desc" />
            <!-- <input type="hidden" id="profile_type" value="job" /> -->
            <input type = "submit" data-ng-click = "createJob(job_info)" />
          </form>
         </div>
      </div>
    </div>
  </body>
</html> 